.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.521), rgb(0, 0, 0)),
        url("../imgs/fundo-contato.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 25px;
}

.tag {
    color: #FFC012;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

.hero h1 {
    font-size: 35px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero h1 span {
    color: #FFC012;
}

.hero p {
    font-size: 16px;
    line-height: 1.5;
}

.whatsapp {
    text-decoration: none;
}

.whatsapp,
.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0c0c0c;
    border: 1px solid #333;
    margin: 20px;
    padding: 15px;
    border-radius: 16px;
    cursor: pointer;
    gap: 15px;

    position: relative;
    overflow: hidden;
    z-index: 1;

    transition: color 0.3s ease;
}
.horario{
    cursor: default;
}

.whatsapp::before,
.card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #ffc012c7;

    transform: scaleX(0);
    transform-origin: left;

    transition: transform 1.5s ease;
    z-index: -1;
}

.whatsapp:hover::before,
.card:hover::before {
    transform: scaleX(1);
}

.whatsapp:hover h2,
.whatsapp:hover p,
.whatsapp:hover #telefone,
.card:hover h2,
.card:hover p,
.card:hover .destaque,
.card:hover i,
.whatsapp:hover i {
    color: #000 !important;
}

.icon {
    font-size: 40px;
    flex-shrink: 0;
}

.card i.fa-angle-right {
    margin: 0 15px;
}

a.ajuste {
    text-decoration: none;
}

.ajuste {
    flex: 1;
}



.ajuste h2 {
    margin: 0 0 5px;
    font-size: 1.1rem;
    color: #fff;
}

.ajuste p {
    color: #888;
    line-height: 1.5;
}

p #telefone {
    color: #888;
    font-weight: bold;
}

.cards {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0c0c0c;
    border: 1px solid #333;
    margin: 20px;
    padding: 10px;
    border-radius: 16px;
    cursor: pointer;
}

.card .destaque {
    font-weight: bold;
    color: #c99404;
}

.card p {
    display: flex;
    flex-direction: column;
}

.formulario {
    background: #0c0c0c;
    border: 1px solid #222;
    margin: 20px;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario h2 {
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    background: #111;
    border: 1px solid #333;
    color: white;
    border-radius: 8px;
}

textarea {
    height: 120px;
    resize: none;
}

.formulario button {
    width: 100%;
    background: #FFC012;
    color: #000;
    border: none;
    padding: 16px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

/* TABLETS */
@media (min-width: 768px) {
    .hero {
        padding: 120px 60px;
    }

    .hero-content {
        max-width: 600px;
    }

    .hero h1 {
        font-size: 55px;
    }

    .hero p {
        font-size: 18px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }

    .whatsapp,
    .card {
        margin: 0;
    }
}

/* DESKTOP */
@media (min-width: 1024px) {

    .whatsapp,
    .card {
        padding: 20px 25px;
    }

    .formulario {
        padding: 35px;
    }

    .hero h1 {
        font-size: 70px;
    }

    input,
    textarea,
    .formulario button {
        width: 50%;
    }
}

/* CELULARES MUITO PEQUENOS */
@media (max-width: 480px) {

    .whatsapp,
    .card {
        padding: 12px;
        gap: 10px;
        margin: 10px;
    }

    .icon {
        font-size: 30px;
    }

    .ajuste h2 {
        font-size: 1rem;
    }

    .ajuste p {
        font-size: 13px;
    }

    .card i.fa-angle-right,
    .whatsapp i.fa-angle-right {
        display: none;
    }
}