@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: "Montserrat", sans-serif;
    background-color: #000;
    overflow-x: hidden;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    height: 70px;

    position: sticky;
    top: 0;
    left: 0;

}

nav #logo {
    width: 100px;
}

.menu_btn {
    background: none;
    border: none;
    margin: 20px;

    color: white;
    font-size: 15px;
}

.menu_btn:active {
    animation: diminuirAumentar .2s ease;
}

.menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.fa-bars,
.fa-x {
    display: none;
}

.fa-bars.active,
.fa-x.active {
    display: block;
}

/* Ícones */

.icon-menu,
.icon-close {
    display: none !important;
}

.active-icon {
    display: block !important;
}

.menu {
    background-color: #1a1919d8;
    display: flex;
    gap: 10px;
    position: absolute;
    margin-block-start: 70px;
    top: 0;
    right: 0;

    opacity: 0;
    visibility: hidden;

    transform: translateY(-20px);
    transition: 0.4s;
}

.menu.active {
    opacity: 1;
    visibility: visible;

    transform: translateY(0);
}

.menu li {
    list-style-type: none;
    padding: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu .home {
    color: #c99404;
    text-decoration: underline;
}

main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.452), rgb(0, 0, 0)), url("../imgs/fundo-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .logo {
    width: 250px;
    margin: 0 auto;
}

main .texto-primario {
    margin-block-start: 30px;
}

main p {
    color: white;
    font-size: .8rem;
    padding: 5px;
    margin: 0 10px;
    font-family: 'Barlow';
}

main .contato {
    background-color: #755c1782;
    margin-block-start: 10px;
    margin-block-end: 15px;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    margin: 50px auto;
    border-radius: 10px;
    border: none;
    width: 60%;
    font-family: 'Barlow';
    font-weight: bolder;
    letter-spacing: 1px;

}

.contato img {
    width: 20px;
}

.splide {
    width: 100%;
    max-width: 1200px;

    margin: 50px auto;

    padding: 40px 20px;

    background: linear-gradient(135deg,
            rgba(255, 255, 255, .05),
            rgba(255, 255, 255, .01));

    border: 1px solid rgba(255, 255, 255, 0.08);

    border-radius: 30px;

    backdrop-filter: blur(10px);

    box-shadow:
        0 10px 40px rgba(0, 0, 0, .6),
        inset 0 0 20px rgba(255, 255, 255, .03);

    position: relative;
}

.splide::before {
    content: '';

    position: absolute;

    bottom: -20px;
    left: 50%;

    transform: translateX(-50%);

    width: 80%;
    height: 40px;

    background: rgba(0, 0, 0, .7);

    filter: blur(30px);

    z-index: -1;
}

.splide__slide {
    transition: .4s;
    transform: scale(.9);
    filter: blur(2px);
    opacity: .6;
}

.splide__slide.is-active {
    filter: blur(0);
    opacity: 1;
}

.splide__slide.is-active.is-visible {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
    z-index: 10;
}

/* Slide central */

.splide__slide.is-active img {

    border-color: #c99404;

    box-shadow:
        0 0 20px rgba(201, 148, 4, .5),
        0 20px 50px rgba(0, 0, 0, .6);

}

.splide__slide img {
    width: 100%;
    height: 300px;

    object-fit: cover;

    border-radius: 20px;

    border: 2px solid rgba(255, 255, 255, .08);

    box-shadow:
        0 10px 30px rgba(0, 0, 0, .5);

    transition: .4s;
}

.splide__track {
    overflow: visible;
}

.splide__arrow svg {
    fill: rgb(0, 0, 0);

    width: 18px;
    height: 18px;

    transition: .3s;
}

.splide__arrow:hover {
    background: #c99404;

    box-shadow:
        0 0 20px rgba(201, 148, 4, .6);
}

.splide__arrow:hover svg {
    fill: black;
}

.splide__arrow--prev {
    left: -1.5rem;
}

.splide__arrow--next {
    right: -1.5rem;
}

.splide__arrow {
    width: 50px;
    height: 50px;

    background: rgba(0, 0, 0, .6);

    border: 2px solid rgba(255, 255, 255, .1);

    backdrop-filter: blur(10px);

    border-radius: 50%;

    opacity: 1;

    transition: .3s;

    box-shadow:
        0 5px 20px rgba(0, 0, 0, .5);
}

footer {
    background-color: #211E1B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .descricao {
    padding-block-start: 20px;
}

footer p {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    color: #D9D9D9;
    font-family: 'Barlow';

}

footer h2 {
    color: #c99404;
    text-align: start;
    margin-block-start: 10px;
    margin-inline-start: -200px;
    font-size: .8rem;
    text-decoration: underline;
}

footer ul {
    margin-block-start: 10px;
    margin-inline-start: 30px;
    padding-block-end: 20px;
}

footer li {
    font-size: .7rem;
    padding-inline-end: 105px;
    padding-block-start: 10px;
}

footer a {
    color: white;
}

footer img {
    width: 150px;
}


/* Animações */
@keyframes diminuirAumentar {

    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.2);
    }
}

@media (max-width: 768px) {

    .splide__slide img {
        height: 200px;
    }

    .splide__slide {
        transform: scale(.95);
        filter: blur(1px);
    }
}

@media (min-width: 600px) {

    /* NAV */

    nav {
        padding: 15px 30px;
    }

    nav #logo {
        width: 130px;
    }

    .menu_btn {
        display: none;
    }

    .menu {
        position: static;
        opacity: 1;
        visibility: visible;
        transform: none;
        background: none;
        margin: 0;
    }

    .menu ul {
        display: flex;
        gap: 20px;
    }


    .menu li {
        padding: 0;
    }

    .menu a {
        font-size: .95rem;
        transition: .3s;
    }

    .menu a:hover {
        color: #c99404;
    }

    /* MAIN */

    main {
        height: 100%;
        text-align: center;
        align-items: center;
        padding: 20px;
    }

    main .logo {
        width: 320px;
    }

    main p {
        max-width: 700px;
        font-size: 1rem;
        line-height: 1.7;
    }

    main .contato {
        width: 250px;
        cursor: pointer;
        transition: .3s;
    }

    main .contato:hover {
        transform: scale(1.05);
        background-color: #ffbb00;
    }

    .contato p {
        margin: 0;
    }

    /* FOOTER */

    footer {
        padding: 40px 20px;
    }

    footer p {
        font-size: .95rem;
    }

    footer h2 {
        margin: 20px 0 10px;
        font-size: 1rem;
        text-align: center;
    }

    footer ul {
        margin: 0;
        padding: 0;
    }

    footer li {
        padding: 10px 0;
        padding-inline-end: 0;
        font-size: .9rem;
        text-align: center;
        list-style: none;
    }

    footer img {
        width: 180px;
        margin-top: 20px;
    }
}