.servicos {
    padding: 30px 20px 60px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.774), rgb(0, 0, 0)), url("../imgs/fundo-servicos.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-servicos {
    text-align: center;
    margin-bottom: 40px;
}

.hero-servicos h1 {
    color: #cf9f19;
    font-size: 2rem;
    margin-bottom: 15px;
    text-shadow: 0 0 10px rgba(250, 241, 215, 0.5);
}

.hero-servicos p {
    max-width: 700px;
    margin: auto;
    line-height: 1.8;
    color: #d8d8d8;
}

.lista-servicos {
    display: grid;
    gap: 15px;
    margin-bottom: 50px;
}

.servico-card {
    display: flex;
    align-items: center;
    gap: 15px;

    padding: 18px;

    background: rgba(255,255,255,.05);

    border: 1px solid rgba(255,255,255,.08);

    border-radius: 15px;

    backdrop-filter: blur(8px);

    transition: .3s;
    cursor: pointer;
}

.servico-card:hover {
    transform: translateY(-5px);
    border-color: #c99404;
    animation: preencher .6s ease forwards;
}

.servico-card i {
    color: #c99404;
    font-size: 1.4rem;
}

.servico-card span {
    font-weight: 500;
}

.destaque {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.destaque h2 {
    color: white;
    margin-bottom: 15px;
    font-style: italic;
}

.destaque p {
    color: #d8d8d8;
}

.titulo-secao {
    margin-bottom: 30px;
}

.titulo-secao h2 {
    text-align: center;
    color: #c99404;
    margin-bottom: 10px;
}

.subtitulo-comparacao {
    text-align: center;
    color: #bdbdbd;
    margin-bottom: 30px;
}

.linha {
    width: 100px;
    height: 3px;
    background: #c99404;
    margin: auto;
}

.comparacao-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.imagem {
    position: relative;
    overflow: hidden;

    background: linear-gradient(
        135deg,
        rgba(255,255,255,.08),
        rgba(255,255,255,.02)
    );
}

.imagem img {
    width: 100%;
    border-radius: 20px;
    border: 2px solid #c99404;

    box-shadow:
        0 0 20px rgba(201,148,4,.3),
        0 10px 30px rgba(0,0,0,.5);
}


.badge {
    position: absolute;
    top: 15px;
    left: 15px;

    background: #c99404;
    color: black;

    font-size: .8rem;
    font-weight: bold;

    padding: 8px 15px;
    border-radius: 30px;
}

.resultado {
    position: absolute;

    bottom: 15px;
    right: 15px;

    background: #25d366;

    color: white;

    padding: 8px 15px;

    border-radius: 30px;

    font-size: .8rem;

    font-weight: bold;
}

.seta {
    text-align: center;
    color: #c99404;
    font-size: 2rem;
}

.cta-servicos {
    margin-top: 60px;
    text-align: center;

    background: rgba(255,255,255,.04);

    border: 1px solid rgba(255,255,255,.08);

    padding: 30px 20px;

    border-radius: 20px;
}

.cta-servicos h2 {
    color: #c99404;
    margin-bottom: 15px;
}

.cta-servicos p {
    color: #d8d8d8;
    margin-bottom: 25px;
}

.btn-whatsapp {
    background: #25d366;
    color: white;

    border: none;

    padding: 15px 25px;

    border-radius: 10px;

    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;

    transition: .3s;
}

.btn-whatsapp:hover {
    transform: scale(1.05);
}

@media (min-width: 768px) {

    .lista-servicos {
        grid-template-columns: repeat(2, 1fr);
    }

    .comparacao-card {
        max-width: 900px;
        margin: auto;
    }

    .hero-servicos h1 {
        font-size: 3rem;
    }

    .comparacao-card {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        gap: 30px;
    }

    .seta {
        font-size: 3rem;
    }

    .seta i {
        transform: rotate(-90deg);
    }
}

/* Animações */

@keyframes preencher {
    from {
        background-color: rgba(255,255,255,.05);
    }
    to {
        background-color: #eec452;
        color: black;
    }   
}

@media (min-width: 600px) {

    /* MAIN */

    main {
        height: 100%;
        text-align: center;
        align-items: center;
        padding: 20px;
    }

    main .logo {
        width: 320px;
    }

    main p {
        max-width: 700px;
        font-size: 1rem;
        line-height: 1.7;
    }

    main .contato {
        width: 250px;
        cursor: pointer;
        transition: .3s;
    }

    main .contato:hover {
        transform: scale(1.05);
        background-color: #ffbb00;
    }

    .contato p {
        margin: 0;
    }

    /* FOOTER */

    footer {
        padding: 40px 20px;
    }

    footer p {
        font-size: .95rem;
    }

    footer h2 {
        margin: 20px 0 10px;
        font-size: 1rem;
        text-align: center;
    }

    footer ul {
        margin: 0;
        padding: 0;
    }

    footer li {
        padding: 10px 0;
        padding-inline-end: 0;
        font-size: .9rem;
        text-align: center;
        list-style: none;
    }

    footer img {
        width: 180px;
        margin-top: 20px;
    }
}