*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgb(0, 0, 0)), url("imgs/fundo-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60%;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(5, 5, 5, 0.808);
    padding: 10px;
    height: 70px;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav #logo {
    width: 100px;
}

.menu_btn {
    background: none;
    border: none;
    margin: 20px;

    color: white;
    font-size: 15px;
}

.menu_btn:active {
    animation: diminuirAumentar .2s ease;
}

.close {
    display: none;
}

.menu {
    background-color: #3333339c;
    height: 100%;
    display: flex;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

main .logo {
    width: 250px;
    margin: 0 auto;
}

main .texto-primario {
        margin-block-start: -30px;

}

main p {
    color: white;
    font-size: .8rem;
    padding: 5px;
}

main .contato {
    background-color: #c99404;
    margin-block-start: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 50%;
    
}

.contato img{
    width: 20px;
}

footer {
    background-color: #211E1B;
}

footer .descricao {
    padding-block-start: 5px;
    margin-block-start: 20px;
}

footer p {
    text-align: center;
    font-style: italic;
    color: #D9D9D9;
}

footer h2 {
    color: #c99404;
    margin-inline-start: 30px;
    margin-block-start: 10px;
    font-size: .8rem;
}

footer ul {
    margin-block-start: 10px;
    margin-inline-start: 30px;
    padding-block-end: 20px;
}

footer li {
    font-size: .7rem;
}

footer img {
    width: 150px;
    margin-inline-start: 25%;
}


/* Animações */
@keyframes diminuirAumentar {

    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.2);
    }
}